{% extends "base.html" %}
{% block content %}
<h2>Welcome to Asif Contact Book
    <br>
    add new contact
</h2>
<form method="POST">
    <div class="mb-3">
        <label>name</label>
        <input type="text" name="name" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Email</label>
        <input type="email" name="email" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Phone</label>
        <input type="text" name="phone" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Address</label>
        <input type="text" name="address" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Company name</label>
        <input type="text" name="company name" class="form-control" required>
    <button type="submit" class="btn btn-success">Add Contact</button>
</form>
{% endblock %}
